* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 1s;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(29, 31, 33);
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #ffae00;
    font-size: 24px;
    font-weight: bold;
}

.linkler ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.linkler ul li {
    margin-right: 15px;
    cursor: pointer;
}

.linkler ul li:hover {
    text-decoration: underline;
}

.menu-icon {
    display: none;
    cursor: pointer;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.menuu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.cerceve {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 20px;
    background-color: rgb(253, 173, 23);
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 10px;
}

.cerceve:hover {
    background-color: orangered;
}

.image {
    width: 150px;
    height: 150px;
    background-color: #f2f2f2;
    border-radius: 50%;
    background-size: cover;
    margin-bottom: 10px;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.isim {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}

.kartContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.ürün-kart .image {
    background-size: coverd;
    background-position: center;
    background-repeat: no-repeat;
}

.ürün-kart {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: orange;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    padding: 16px;
    width: 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ürün-kart:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ürün-kart h3 {
    font-size: 18px;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
}

.ürün-kart p {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: center;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.icons input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    width: 200px;
}

@media screen and (max-width: 768px) {



    .logo {
        font-size: 18px;
    }

    .cerceve {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        padding: 20px;
        background-color: rgb(230, 95, 28);
        border-radius: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        cursor: pointer;
        margin: 10px;
    }

    /* Kart Container */
    #ürün-kart-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* Ürün Kartı */
    .ürün-kart {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .ürün-kart:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    /* Ürün Resmi */
    .image {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    /* Ürün Açıklaması */
    .description {
        padding: 20px;
        margin: auto;
        max-width: 70%;
    }

    /* Başlık */
    .başlık {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    /* Ürün Hakkında */
    .hakkında {
        font-size: 1em;
        color: #555;
        margin-bottom: 10px;

    }

    /* Fiyat */
    .fiyat {
        font-size: 1.1em;
        font-weight: bold;
        color: #333;
        margin-bottom: 0;
    }



    .cerceve .image {
        width: 100px;
        height: 100px;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 50%;
        background-size: cover;
        margin-bottom: 10px;
    }

    .image img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }

    .ürün-kart .image {
        width: 100px;

        height: 100px;
        background-color: #f2f2f2;
        border-radius: 5%;
        border: 1px solid black;
        background-size: cover;
        margin-bottom: 0px;
        margin-right: 20px;
    }

    .kartContainer {
        display: block;
        width: 100%;
    }

    .ürün-kart {
        padding: 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        background-color: rgb(109, 103, 95);
    }








    .linkler ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: grey;
        padding: 30px;
        border: 2px solid black;
        width: 100%;
        height: 90vh;
    }

    .linkler ul li {
        margin: 30px 0px;
    }

    .linkler ul li a {
        font-size: x-large;
        border: 10px 0px 0px 0px solid black;
        text-transform: capitalize;
        color: orange;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .linkler ul.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    nav {


        align-items: center;
        justify-content: space-between;
    }

    .linkler ul {
        display: none;
    }

    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .icons {
        flex-direction: column;
        align-items: center;
    }

    .icons input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .hero {
        height: auto;
    }
}